<p>
{{isRegister}}
</p>
<ion-grid >
  <ion-row >
    <ion-col size="6" size-md="4" size-lg="2">
      <ion-chip class="login-chip google-chip">
        <ion-icon class="logo" name="logo-google"></ion-icon>
        <ion-label class="text"><span>sign in with</span> google</ion-label>
    </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" size-md="4" size-lg="2">1</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" size-md="4" size-lg="2">1</ion-col>
  </ion-row>
</ion-grid>
