<lang-selector></lang-selector>
<div class="container">
  <ion-grid>
    <ion-row>
      <form [formGroup]="userForm" (ngSubmit)="SubmitForm()">
        <ion-card
          [color]="messageType == 'error' ? 'danger' : 'success'"
          *ngIf="message"
        >
          <ion-card-content>{{ message | translate }}</ion-card-content>
        </ion-card>
        <ion-input
          class="margin-input"
          label="{{ 'Email' | translate }}"
          type="email"
          fill="outline"
          formControlName="email"
        ></ion-input>
        <ion-input
          *ngIf="formType != 2"
          class="margin-input"
          label="{{ 'Password' | translate }}"
          fill="outline"
          type="password"
          formControlName="password"
        ></ion-input>
        <ion-input
          *ngIf="formType == 1"
          class="margin-input"
          label="{{ 'Confirm Password' | translate }}"
          fill="outline"
          type="password"
          formControlName="passwordConfirm"
        ></ion-input>
        <ion-button
          expand="block"
          type="submit"
          *ngIf="formType != 2"
          [disabled]="!submitAllowance()"
          >{{ formType == 1 ? "Register" : ("Login" | translate) }}</ion-button
        >
        <ion-button
          expand="block"
          type="submit"
          *ngIf="formType == 2"
          [disabled]="!submitAllowance()"
          >{{ "Reset" | translate }}</ion-button
        >
        <ion-label *ngIf="formType != 1" class="go-to-register"
          >{{ "are you new?" | translate }}
          <ion-label color="tertiary" (click)="goToAnotherForm(0)">
            {{ "Create An account" | translate }}
          </ion-label></ion-label
        >
        <ion-label *ngIf="formType != 1 && formType != 2" class="go-to-register"
          >{{ "Forgot your password?" | translate }}
          <ion-label color="tertiary" (click)="goToAnotherForm(2)">
            {{ "reset your password" | translate }}
          </ion-label></ion-label
        >
        <ion-label *ngIf="formType == 2" class="go-to-register"
          >{{ "Back to" | translate }}
          <ion-label color="tertiary" (click)="goToAnotherForm(1)">
            {{ "Login" | translate }}
          </ion-label></ion-label
        >

        <ion-list *ngIf="formType==1" lines="none">
          <ion-item>
            <ion-label
              class="password-structure"
              [color]="
                userForm.value.password!.length >= 8 ? 'success' : 'medium'
              "
              ><ion-icon
                [name]="
                  userForm.value.password!.length >= 8
                    ? 'checkmark-circle-outline'
                    : 'alert-circle-outline'
                "
              ></ion-icon>
              {{ "password must be 8 characters" | translate }}
            </ion-label>
          </ion-item>
          <ion-item *ngIf="userForm.value.password!.length >= 8">
            <ion-label
              class="password-structure"
              [color]="
                userForm.value.password == userForm.value.passwordConfirm
                  ? 'success'
                  : 'medium'
              "
              ><ion-icon
                [name]="
                  userForm.value.password == userForm.value.passwordConfirm
                    ? 'checkmark-circle-outline'
                    : 'alert-circle-outline'
                "
              ></ion-icon>
              {{ "password and confirm must be equal" | translate }}
            </ion-label>
          </ion-item>
          <ion-item> </ion-item>
        </ion-list>
      </form>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="chip-container container" (click)="signInWithGoogle()">
          <ion-chip class="login-chip google-chip">
            <ion-icon class="logo" name="logo-google"></ion-icon>
            <ion-label class="text"
              ><span>{{ "sign in with" | translate }}</span> google</ion-label
            >
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
