<ion-app>
  <ion-menu #menu side="start" contentId="main-content" type="push">
    <ion-content>
      <ion-thumbnail class="main-thumbnail">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-list id="inbox-list">
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages; let i = index"
        >
          <ion-item
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon
              aria-hidden="true"
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-chip class="sign-out" color="danger" (click)="signOut()">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://unpkg.com/ionicons@7.1.0/dist/svg/log-out-outline.svg" />
        </ion-avatar>
        <ion-label>sign out</ion-label>
      </ion-chip>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
