<div class="ion-page" id="main-content">
  <headerComponent title="{{'Dashboard'|translate}}"></headerComponent>
  <ion-content [fullscreen]="true">
    <ion-grid
      ><ion-row>
        <div class="search-container">
          <ion-col size="12" size-md="6" size-lg="4"
            ><ion-searchbar
              animated="true"
              placeholder="{{'Group or Server'|translate}}"
            ></ion-searchbar
          ></ion-col>
        </div>
      </ion-row>
    </ion-grid>
    <ion-header collapse="condense">
      <ion-toolbar> </ion-toolbar>
    </ion-header>
    <ng-template #loading>
      <ion-skeleton-text [animated]="true">
        <ion-list [inset]="true">
          <ion-accordion-group>
            <ion-accordion>
              <ion-item slot="header">
                <ion-label></ion-label>
              </ion-item>
              <ion-list lines="inset" slot="content">
                <ion-item>
                  <ion-label></ion-label>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
      </ion-skeleton-text>
    </ng-template>

    <main *ngIf="userData && !groupLoading, else loading">
      <ion-list [inset]="true">
        <ion-item>
          <ion-badge slot="end" color="secondary" *ngIf="userData.groups"
            >{{userData.groups.length}}</ion-badge
          >
        </ion-item>
        <ion-accordion-group
          *ngFor="let group of userData.groups"
          expand="inset"
          class="glassy-content"
        >
          <ion-accordion>
            <ion-item slot="header">
              <ion-grid>
                <ion-row>
                  <ion-col size-md="7" size-sm="12"
                    ><ion-label>{{group.name}}</ion-label></ion-col
                  >
                  <ion-col size-md="4" size-sm="12">
                    <ion-button
                      (click)="showDialogForServerWithKnownGroup(group,userData.groups)"
                      shape="round"
                      color="tertiary"
                    >
                      <ion-icon slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                    <ion-button
                      shape="round"
                      color="danger"
                      *ngIf="!group.isInit"
                      (click)="showAlertForDelete(group)"
                    >
                      <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>
                    <ion-button
                      (click)="showDialogForGroup(group)"
                      shape="round"
                      color="secondary"
                      *ngIf="!group.isInit"
                    >
                      <ion-icon slot="icon-only" name="create"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-list
              lines="inset"
              slot="content"
              *ngIf="group.servers?.length;else emptyGroup"
            >
              <ion-item *ngFor="let server of group.servers">
                <ion-label>{{server.name}}</ion-label>
              </ion-item>
            </ion-list>
            <ng-template #emptyGroup>
              <ion-list lines="inset" slot="content">
                <ion-item>
                  <ion-label>{{'no server is available'| translate}}</ion-label>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-accordion>
        </ion-accordion-group>
      </ion-list>
    </main>

    <ion-fab
      [activated]="true"
      size="4"
      slot="fixed"
      vertical="bottom"
      horizontal="start"
    >
      <ion-fab-button>
        <ion-icon name="grid-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-button (click)="showDialogForServer()">
          <ion-title> {{'Add a single server'| translate}}</ion-title
          ><ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="showDialogForGroup()">
          <ion-title> {{'Add new Group'| translate}}</ion-title
          ><ion-icon name="folder-outline"></ion-icon>
        </ion-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
  <div></div>
</div>
