<ion-list>
  <ion-item *ngIf="isGroup; else ServerInputs">
    <ion-input labelPlacement="floating" [(ngModel)]="group.name">
      <div slot="label">
        {{ "group name" | translate }}
        <ion-text color="danger">{{ "(Required)" | translate }}</ion-text>
      </div>
    </ion-input>
  </ion-item>
  <ion-alert
    [isOpen]="alert.isOpen"
    header="{{ alert.header | translate }}"
    subHeader="{{ alert.subHeader | translate }}"
    message="{{ alert.message | translate }}"
    [buttons]="alert.buttons"
    (didDismiss)="setAlert(false)"
  ></ion-alert>
  <ng-template #ServerInputs>
    <ion-list>
      <ion-item>
        <ion-select
          label="{{ 'servers group' | translate }}"
          placeholder="{{ 'servers group' | translate }}"
          [ngModel]="server.Group?.id" (ngModelChange)="changeGroup($event)"
        >
          <ion-select-option
            *ngFor="let group of groups"
            [value]="group.id"
            >{{ group.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" [(ngModel)]="server.Name">
          <div slot="label">
            {{ "server name" | translate }}
            <ion-text color="danger">{{ "(Required)" | translate }}</ion-text>
          </div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" [(ngModel)]="server.SSH_user">
          <div slot="label">
            {{ "server user" | translate }}
            <ion-text color="danger">{{ "(Required)" | translate }}</ion-text>
          </div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" [(ngModel)]="server.SSH_host">
          <div slot="label">
            {{ "server host" | translate }}
            <ion-text color="danger">{{ "(Required)" | translate }}</ion-text>
          </div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          labelPlacement="floating"
          [(ngModel)]="server.SSH_port"
          value="22"
          type="number"
        >
          <div slot="label">
            {{ "port" | translate }}
            <ion-text color="danger">{{ "(Required)" | translate }}</ion-text>
          </div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox #passCheck [checked]="true">{{
          "with password" | translate
        }}</ion-checkbox>
      </ion-item>
      <ion-item *ngIf="passCheck.checked">
        <ion-input
          labelPlacement="floating"
          [(ngModel)]="server.SSH_passphrase"
          type="password"
        >
          <div slot="label">
            {{ "password" | translate }}
            <ion-text color="danger">{{ "(Required)" | translate }}</ion-text>
          </div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox #pkCheck (valueChange)="passCheck.checked = false">{{
          "with privet key" | translate
        }}</ion-checkbox>
      </ion-item>
      <ion-item *ngIf="pkCheck.checked">
        <ion-input
          labelPlacement="floating"
          (change)="fileToBuffer($event)"
          type="file"
          accept=".pk,.pubk,.ppk,.ppubk"
        >
          <div slot="label">
            {{ "privetkey" | translate }}
            <ion-text color="danger">{{ "(Required)" | translate }}</ion-text>
          </div>
        </ion-input>
      </ion-item>
    </ion-list>
  </ng-template>
  <ion-button expand="full" (click)="isGroup?saveGroup():saveServer()">{{
   actionButtonName | translate
  }}</ion-button>
</ion-list>
